
<div class="container main-calendar">
    <ng-container *ngFor="let ins of counter(12); let i = index">
        <div class="calendar-year-wraper">

            <div class="calendar-month">
                <div> {{getMonthName(i)}}</div>
                <div class="weekdays-section">
                    <div class="week-names" *ngFor="let weekday of weekDays">
                        {{weekday}}
                    </div>
                </div>

                <div class="week-names-section">
                    <ng-container *ngFor="let day of generateWeek(i)">
                        <app-calendar-day [referenceDay]="day">
    
                        </app-calendar-day>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</div>


